// Config
@import "./config/_reset.scss";

// Components
@import "./components/calendar.scss";
@import "./components/header.scss";
@import "./components/form.scss";

@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "EarlyFontDiary" !important;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 50px 0 30px 0;
  padding: 0 10px;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
  border-left: 3px solid black;
  padding-left: 10px;
}

a {
  width: fit-content;
  text-decoration: none;
  color: black;
}

.startBtn,
button {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #efefef;
  border: 1px solid #eee;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  &:hover {
    border: 1px solid rgba(33, 149, 243, 0.5);
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.groups {
  margin-top: 30px;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      border: 1px solid #eee;
      border-radius: 5px;
    }
  }
}

@media (max-width: 800px) {
  .groups {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 600px) {
  .groups {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 400px) {
  .groups {
    ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
