.seatForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: scroll;
  }
}

.line {
  display: flex;
  gap: 5px;
}

.seat {
  width: 100%;
  height: 100px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 1);
  }
  span {
    text-align: center;
    padding: 3px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    input {
      text-align: center;
      width: 90%;
      min-width: 80px;
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:last-child {
        border: none;
      }
    }
  }
}
