extends base

block content
    h1 경일고 야자 출석부
    div.calendar-wrapper#calendar-wrapper
    a.startBtn#startBtn
        span 출석 확인하기
    
block scripts
    script(src="http://code.jquery.com/jquery-3.6.0.min.js")
    script(src="/static/js/calendar.js")