extends base

block content
    if loggedIn
        h2 그룹 만들기
        form(method="POST" action="/groups/create")
            div
                label(for="name") 그룹 이름
                input(name="name", type="text", required, autocomplete="off", id="name", placeholder="ex) 2022 3학년 1학기")
            button 그룹 만들기

        div.groups
            if groups[0]
                h2 그룹 목록
                ul
                    each group of groups 
                        li
                            a(href=`/groups/${group._id}`)
                                span=group.name
            else 
                h2 그룹이 존재하지 않습니다.
    else 
        a(href="/login") 
            h2 로그인 ->
        a(href="/join") 
            h2 회원가입 ->