extends base

block content
    h2 그룹 만들기
    form(method="POST")
        div
            label(for="name") 그룹 이름
            input(name="name", type="text", required, autocomplete="off", id="name")
        button 그룹 만들기

    div.groups
        h2 그룹 목록
        ul
            each group of groups 
                li
                    a(href=`/groups/${group._id}`)
                        span=group.name